body{
    background: #fff;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 1px solid #505050;
    border-radius: 50%;
}

#tittle, .subtittle, .posttittle{
    color: #505050;
}

#tittle{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.post-img{
    margin-bottom: 15px;
    width: 100%;
}

.posttittle{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.contacts-list{
    list-style-type: none;
    padding-left: 15px;
}

.contacts-list li a{
    text-decoration: none;
}